.productos-grilla {
	padding: 20px;
	text-align: center;
}
.producto-caja {
	background-color: #2f1c10;
	border-radius: 7px;
	a {
		color: $color-secundario;
		text-decoration: none;
	}
	h2 {
		font-size: 1.6em;
		margin: .5em;
	}
}
.productos-img {
	width: 70%;
	margin-top: .5em;
	border-radius: 5px;
}