.productos-grilla {
	padding: 20px;
	text-align: center;
}
.producto-caja {
	background-color: $color-primario-oscuro;
	border-radius: 7px;
	&:hover {
		transition-property: transform;
		transition-duration: 0.3s;
		transition-timing-function: ease-out;
		transition-delay: 10ms;
		transform: scale(1.2, 1.2);
	}
	a {
		color: $color-secundario;
		text-decoration: none;
	}
	h2 {
		font-size: 1.6em;
		margin: .5em;
	}
}
.productos-img {
	width: 70%;
	margin-top: .5em;
	border-radius: 5px;
}

.comprar-producto-btn{
	margin-bottom: 5px;
}