html {
    overflow-x: clip;
}

main {
	background-color: $color-primario;
	font-family: $font-principal;
	color: $color-secundario;
	background-image: radial-gradient(circle, #3f220f, #4c2b15, #5a341b, #683e22, #764828);
	margin: 0px;
	padding: 0.5em;
	h1 {
		font-family: $font-principal;
		margin: .6em 0 .6em 0;
	}
}

.titulo {
	text-align: center;
}

.carrito-btn {
	border: transparent;
	background-color: transparent;
}

.carrito-img {
	height: auto;
	width: 40px;
}

.offcanvas {
	background-color: $color-secundario;
}

.carrito-lista{
	background-color: #ffe2c2;
	width: 100%;
    height: 100%;
	overflow-y: auto;
}

.carrito-item{
	background-color: #ffe2c2;
	width: 100%;
    height: fit-content;
	padding: 10px;
	border-top: solid 1px;
}

.carrito-item-img{
	height: auto;
	width: 100px;
}

.carrito-item-titulo{

}

.carrito-item-botones > button{
	width: 28px;
	height: 28px;
	padding: 3px;
}
.carrito-item-botones > button > img{
	height: 18px;
	width: auto;
}

.carrito-eliminar-btn{
	margin-right: 0.5rem;
}
.basura-img{
}

.carrito-menos-btn{
	
}
.menos-img{
}

.carrito-item-cantidad{
	margin-right: 0.25rem;
    margin-left: 0.25rem;
}

.carrito-mas-btn{
	
}
.mas-img{
}

.carrito-item-precio{

}

.carrito-footer{
	height: fit-content;
	border-top: solid 1px;
}

.btn-primary {
	--bs-btn-color: #3f220f;
	--bs-btn-bg: #ffe2c2;
	--bs-btn-border-color: #ffe2c2;
	--bs-btn-hover-color: #3f220f;
	--bs-btn-hover-bg: #c8b197;
	--bs-btn-hover-border-color: #c8b197;
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #3f220f;
	--bs-btn-active-bg: #c8b197;
	--bs-btn-active-border-color: #c8b197;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #3f220f;
	--bs-btn-disabled-bg: #ffe2c2;
	--bs-btn-disabled-border-color: #ffe2c2;
}

.btn-secondary {
    --bs-btn-color: #ffe2c2;
    --bs-btn-bg: #3f220f;
    --bs-btn-border-color: #3f220f;
    --bs-btn-hover-color: #ffe2c2;
    --bs-btn-hover-bg: #29180d;
    --bs-btn-hover-border-color: #29180d;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #ffe2c2;
    --bs-btn-active-bg: #29180d;
    --bs-btn-active-border-color: #29180d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffe2c2;
    --bs-btn-disabled-bg: #3f220f;
    --bs-btn-disabled-border-color: #3f220f;
}

.whatsapp-icon {
	position: sticky;
	bottom: 20px;
	left: 100%;
	align-items: right;
	margin: 10px;
	background-color: $color-icon-whatsapp;
	border-radius: 12px;
	padding: 7px;
	&:hover {
		background-color: $color-icon-whatsapp-hover;
	}
}

a {
	text-decoration: none;
}

input {
	font-family: $font-principal;
}

textarea {
	font-family: $font-principal;
}