/*  FUENTES  */
@font-face {
	font-family: "cera-round-regular";
	src: url(../fonts/cera-round-pro/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
	font-family: "cera-round-black";
	src: url(../fonts/cera-round-pro/Demo_fonts/Fontspring-DEMO-ceraroundpro-black.otf);
}
@font-face {
	font-family: "junegull";
	src: url(../fonts/junegull/junegull.ttf);
}
@font-face {
	font-family: "varela-round";
	src: url(../fonts/Varela_Round/VarelaRound-Regular.ttf);
}

// VARIABLES
$color-primario: #3f220f;
$color-secundario: #ffe2c2;
$color-secundario-oscuro: #c8b197;

$font-principal: "varela-round";