.footer {
	background-color: $color-secundario;
	margin: 0px;
	padding: 0.5em;
	@include flexbox(inherit, space-between, inherit, inherit);
}

.seguinos-container {
	text-align: center;
}

.contacto-container {
	text-align: center;
}

.logo-footer-container {
	@include flexbox(inherit, inherit, center, inherit);
}

img.logo-footer {
	width: 100px;
	height: auto;
}