.nav-bar {
	background-color: $color-secundario;
	margin: 0px;
	padding: 0.5em;
	@include flexbox(inherit, inherit, center, inherit);
	a {
		color: #000000;
		text-decoration: none;
	}
}

.navbar {
	padding: 0;
	background-color: $color-secundario;
}

.logo-nombre {
	@include flexbox(inherit, inherit, center, inherit);
	margin-right: auto;
}

img.logo-navbar {
	width: 50px;
	height: auto;
}

.nombre-navbar {
	margin-left: 0.5em;
	font-weight: bold;
}

ul.navegation {
	list-style-type: none;
	padding: 0px;
	@include flexbox(inherit, space-around, inherit, inherit);
	margin: 0;
}

.navegation {
	li {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}