@media only screen and (max-width: 380px) {
	.navbar-brand {
		font-size: 1rem;
	}
	img.logo-navbar {
		width: 40px;
		height: auto;
	}
	.imagen-principal-producto {
		height: 250px;
	}
	.carousel{
		width: 350px;
	}
}
@media only screen and (max-width: 600px) {
	.whatsapp-icon {
		bottom: 10px;
		margin: 10px 2px;
	}
	.mapa-container {
		iframe {
			height: 300px;
		}
	}
}
@media only screen and (max-width: 900px) {
	.seguinos-container {
		margin-bottom: 1rem;
	}
	.footer {
		justify-content: center;
		flex-direction: column;
	}
	.logo-footer-container {
		justify-content: center;
	}
	.nosotros {
		grid-template-columns: 1fr;
		grid-template-rows: max-content 1fr 1fr 1fr;
		grid-template-areas: "titulo" "caja1" "caja2" "caja3";
	}
}

@media only screen and (max-width: 991px) {
	.producto-caja {
		h2 {
			font-size: 1.2em;
		}
	}
}

@media only screen and (max-width: 575px) {
	.producto-caja {
		width: 70%;
	}
}

@media only screen and (max-width: 970px) and (min-width: 381px) {
	.imagen-principal-producto {
		height: 350px;
	}
}